<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <% include ./partials/header %>
    
    <div class="container central">
        <h1>Express Movies</h1>
        <div>Bienvenue !</div>
    </div> <!-- .container central -->

    <% include ./partials/footer %>
</body>
</html>