<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <% include ./partials/header %>
    
    <div class="container central">
    
        <div class="home">
            <h1><%= title %></h1>
            <ul class="moviesList">
                <% for ( movie of movies ) { %>      
                    <li><%= movie.title %> (<%= movie.year %>)</li>
                <% } %>
            </ul>
        </div><!-- .home -->

        <div class="boxForm border radius">
            <form class="newFilm" action="/movies" method="post">
                <h2>Nouveau film</h2>

                <label for="movieTitle">Titre</label>
                <input name="movieTitle" id="movieTitle" class="border radius" type="text">
                
                <label for="movieYear">Année</label>
                <input name="movieYear" id="movieYear" class="border radius" type="text">

                <button class="radius" type="submit">Ajouter</button>
            </form>
        </div> <!-- .boxForm -->

    </div> <!-- .container central -->

    <% include ./partials/footer %>

    <script>

        const form = document.querySelector('form');
        form.addEventListener( 'submit', addMovie );

        function addMovie( event ) {
            event.preventDefault(); // Stop the POST request for all the page (reload) at submit event
            
            // Fonction fetch = ES6 (!!)
            if ( window.fetch ) { // Compatibility test -> fetch();
                fetch('/movies', {
                    method: 'POST',
                    body: new FormData( form )
                })
                .then( checkStatus )
                .catch( function (error) {
                    console.error('request failed', error );
                })
            } else { 
                /* jQuery, XMLHttpRequest */
            }
        }

        function checkStatus( response ) {

            if ( response.status >= 200 && response.status < 300 ) {

                let newMovieDiv = document.createElement('div');

                const movieTitle = document.getElementById('movieTitle').value;
                const movieYear = document.getElementById('movieYear').value;

                newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`; // ES6, content
                //newMovieDiv.innerHTML = movieTitle +' (' + movieYear + ')'; // old IE browser

                document.querySelector('.moviesList').appendChild( newMovieDiv );
                form.reset();
            }
        }


    </script>
</body>
</html>