    /* Reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { font-size: 62.5%; /* 16px X 62.5 = 10px */ }
body {
    font-size: 1.5rem;
    color: #222;
    font-family: Consolas, Monaco, "Andale Mono", monospace;
}
ul, li { list-style: none; }
a {
    color: #222;
    text-decoration: none;
}
a, select { cursor: pointer; }


    /* General style */
.radius {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: none;
}
.border { border: solid 1px #222; }
.central { padding: 0 5% 5% 5%; }


    /* Partials */
header { padding: 2% 5%; }
footer { 
    position: relative; 
    width: 100%;
    padding: 2%;
    border-top: 1px solid #222;
    font-size: 12px;
}


    /* Home */
.moviesList li { margin-top: 1.5%; }

.moviesList { display: block; }

    /* Form add new film */
.boxForm {
    padding: 5%;
    width: 50%;
    margin: 2% auto;
    position: relative;
}
.newFilm h2 {
    margin-bottom: 5%;
}
.newFilm input { 
    width: 100%;
    height: 30px;
    display: block;
    margin: 3% 0;
}
.newFilm button { 
    display: block;
    width: 100%;
    height: 35px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 5%;
}
